{% extends 'static/base.html' %}
{%  load static %}

{% block title %}

List Movies

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="/static/css/list_movies.css">

{% endblock %}

{% block conteudo %}

    <div class="Modalcontent" id="contentModal">
        <div class="menuConfig">
            <div class="title"><h2>Escolha o Filme</h2><h2><b>para deletar</b></h2></div>
            <div class="scrool_info">
                {% for movie in movies %}
                    <a href="{% url 'remove_movies' movie.slug %}">
                        <button>{{ movie.title }}</button>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    
  
{% endblock %}