asgiref==3.5.2
certifi==2022.12.7
charset-normalizer==2.1.1
Django==4.1.4
django-embed-video @ git+https://github.com/jazzband/django-embed-video@f3075717684ab3f8cfc27641b03b67f8e3e739a4
django_debug_toolbar==3.8.1
idna==3.4
Pillow==9.3.0
requests==2.28.1
sqlparse==0.4.3
urllib3==1.26.13