{% extends 'static/base.html' %}
{%  load static %}

{% block title %}

Create Movie

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="/static/css/cadastro.css">

{% endblock %}

{% block conteudo %}

    <div class="div_create">
        <div class="create_body">
            <h1>Create Movie</h1>
            <div class="scrool_info">
            <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        {% if "Título" in field.label %}
                        <button type="button" id="searchMovieButton" class='search_button'>Pesquisar Filme</button>
                        <button type="button" id="researchMovieButton" class='research_button'>Não Encontrou?</button>
                        {% endif %}
            </div>
            <br>
            <button type="submit">Save</button>
            </form>
        </div>
    </div>
  
{% endblock %}