.container1 {
    margin-top: -10px !important;
    margin-left: 10px !important;
    margin-bottom: 65px;
}

.logo-footer {
    margin-top: 50px;
}

#myFooter .container1{
    text-align: center;
}

#myFooter .footer-copyright{
    text-align: center;
}

#myFooter p{
    color: rgba(255, 255, 255, 0.7);
}

#myFooter .logo-footer {
    max-width: 200px;
    margin-left: 45%;
}

@media screen  and (min-width: 350px) and (max-width: 700px) {
    .container1 {
        margin-top: -10px !important;
        margin-left: 10px !important;
        margin-bottom: 0;
    }
    
    .logo-footer {
        position: relative;
        left: -12%;
        transform: scale(1.2);
        margin-top: 0px;
    }
}