/* Main Banner */

.banner {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
}

.banner--fadeLeft {
    position: absolute;
    top: 0;
    width: 100%;
    height: 105vh;
    background: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.7));
    z-index: 5 !important;
}

.shadow {
    box-shadow: 0 -80px 50px 70px rgba(0, 0, 0, 1);
    width: 100%;
    padding: 0;
    height: 2.35vw;
    z-index: 9;
    position: absolute;
    left: 20px;
    top: 108vh;
}

.banner .bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(80%);
    transform: scale(1.18);
}

.grid_banner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 47vh;
    position: absolute;
}

.content {
    position: relative;
    z-index: 9999;
    left: 3%;
}

.movieTitle {
    max-width: 680px;
    margin-left: -0.3%;
}

.movieTitle {
    word-break: break-all;
    width: 65vh;
    font-size: 55px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif !important;
    line-height: 1;
    color: aliceblue;
    margin-bottom: 10px;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 65vh;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    max-width: 60vh;
}

.banner .content div span{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(253, 253, 253, 0.7);
}

.banner .content div span:first-child {
    padding-left: 0;
}

.banner .content div span:last-child {
    border-right: none;
}

.banner .content div span i {
    background: red;
    color: white;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300px;
    line-height: 1.5em;
    color: white;
    margin: 10px 0 15px;
}

.banner .content .buttons a {
    display: inline-block;
    margin-right: 5px;
    background: red;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.banner .content .buttons a:nth-child(2) {
    background: rgba(14, 14, 14, 0.8);
    transition: 0.5s;
}

.banner .content .buttons a:hover:nth-child(2) {
    background: red;
    transition: 0.5s;
}

/* carrossel */

.content_carousel {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 3%;
    position: relative;
    z-index: 999;
}

.c-carousel {
    width: 100%;
    padding: 0 30px;
    height: 39vh;
}

.c-carousel:first-of-type {
    margin-top: 80px;
}

.c-carousel__slides {
    display: flex;
    align-items: left;
    justify-content: left;
}

.c-carousel__slide img {
    max-width: 200px;
    border-radius: 1rem;
}

.button-carousel__rigth {
    position: relative;
    bottom: 305px;
    left: 95%;
    padding: 142px 18px 142px 18px;
    border-radius: 6px;
    border: 0;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 15px;
    backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 999;
}

.button-carousel__left {
    position: relative;
    right: 5px;
    bottom: 305px;
    padding: 142px 18px 142px 18px;
    border-radius: 6px;
    border: 0;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 15px;
    backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 999;
}

.dots-carousel {
    position: relative;
    bottom: 68%;
}

.title_row {
    z-index: 998;
    position: relative;
    bottom: 28px;
    left: 30px;
    font-size: 33px;
    color: rgba(255, 255, 255, 0.8);
}

/* modal */

.modal {
    display: grid;
    grid-template-rows: 2fr 0.5fr 0.5fr;
    position: relative;
    width: 25%;
    height: 22vw;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    display: none;
    box-shadow: 10px 0px 20px rgba(10, 10, 10, 0.7);
    cursor: pointer;
    z-index: 999;
    justify-content: left;
    align-items: left;
}

.modal.open {
    display: flex;
    flex-direction: column;
    animation: openModal 0.7s;
    margin-bottom: -422px;
}

.modal.closed {
    animation: closedModal 4s;
    display: none;
}


@keyframes openModal {
    from{
        opacity: 0;
        scale: 0;
        transform: translate3d(0, -20px, -5px);
    } 
    to{
        opacity: 1;
        scale: 1;
        transform: translate3d(0, 0, 0);
        
    }
}

@keyframes closedModal {
    from{
        opacity: 1;
        scale: 1;
        transform: translate3d(0, 0, 0);
    } 
    to{
        opacity: 0;
        scale: 0;
        transform: translate3d(0, -20px, -5px);
    }
}

.modal video {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    cursor: pointer;
}

.first_row {
    position: relative;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 1fr;
    justify-content: space-between;
    width: 100%;
    margin-top: 4.5%;
}

.first_row .play {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.first_row .play:hover {
    background-color: aliceblue;
    color: black;
    border: 0;
    transition: 0.5s;
}

.first_row .play span {
    margin-top: 4px;
    font-size: 30px;
}

.first_row .play:hover > span {
    color: rgb(255, 7, 7);
    transition: 0.5s;
}

.first_row .play {
    margin: 0 5px 0 15px;
}

.first_row .favorite {
    background-color: transparent;
    color: white;
    border-radius: 100%;
    border-color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.first_row .favorite:hover {
    background-color: aliceblue;
    color: black;
    border: 0;
    transition: 0.5s;
}

.first_row .favorite span {
    margin-top: 5px;
}

.first_row .favorite:hover > span {
    color: rgb(255, 7, 7);
    border: 0;
    transition: 0.3s;
}

.favorited{
    color: white;
    border-radius: 100%;
    border-color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    border: 0;
    transition: 0.5s;
}

.favorited span {
    display: flex;
    justify-content: center;
    align-content: center;
}

.favorited > span {
    color: rgb(255, 7, 7);
    border: 0;
    transition: 0.3s;
}

.first_row .info {
    justify-self: end;
    margin-right: 20px;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    border-color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.first_row .info a {
    text-decoration: none;
    color: white;
}

.first_row .info:hover {
    background-color: aliceblue;
    color: black;
    border: 0;
    transition: 0.5s;
}

.first_row .play a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.first_row .play a:hover {
    background-color: aliceblue;
    color: rgb(255, 0, 0);
    border: 0;
    transition: 0.5s;
}


.first_row .info:hover > a{
    color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.first_row .info span {
    margin-top: 5px;
}

.classification {
    height: 33px;
    background-color: red;
    padding: 8px 5px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.duration {
    height: 33px;
    background-color: rgb(196, 246, 255);
    padding: 8px;
    border-radius: 6px;
    font-weight: 500;
}

.category {
    color: white;
    display: flex;
    font-size: 20px;
    height: 33px;
    width: 350px;
    padding-top: 5px;
    padding-left: 10px;
}

.category span {
    color: rgba(253, 253, 253, 0.7);
}

.info_media {
    display: flex;
    position: relative;
    margin-top: 3.7%;
    margin-left: 4.2%;
}

.info_media span {
    margin-right: 7px;
}

#background {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 105vw;
    z-index: 0;
}


@media (max-width: 1000px) {
    .description {
        max-width: 38vh;
    }

    .movieTitle {
        max-width: 25vh;
        margin-bottom: 2vh;
    }

    .content {
        margin-left: 1vh;
    }

    .img_url {
        filter: brightness(0.8);
    }
}

@media (max-width: 415px) {
    .content_carousel {
        grid-row-gap: 8vh;
    }

    .dots-carousel {
        position: relative;
        bottom: 80%;
    }
}

@media (max-height: 815px) {
    .content_carousel {
        grid-row-gap: 11vh;
    }

    .dots-carousel {
        position: relative;
        bottom: 87%;
    }
}

@media (max-height: 745px) {
    .content_carousel {
        grid-row-gap: 19vh;
    }

    .dots-carousel {
        position: relative;
        bottom: 92%;
    }
}