/* Main Banner */

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
	height: 180px;
	-webkit-mask-image: linear-gradient(to top, transparent 0%, black 50%);
    mask-image: none;
}

.banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.content {
    position: relative;
    z-index: 1;
    max-width: 650px;
    margin-bottom: 4%;
    padding-left: 50px;
    margin-left: -90px;
}

.movieTitle {
    max-width: 680px;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 170px;      /* fallback */
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.banner .content h4 {
    color: rgba(253, 253, 253, 0.7);
    font-weight: 500;
    margin-top: 14px;
}

.banner .content h4 span{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    background: red;
    color: white;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300px;
    line-height: 1.5em;
    color: white;
    margin: 10px 0 15px;
}

.banner .content .buttons {
    position: relative;
}

.banner .content .buttons a {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    background: red;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.banner .content .buttons a:nth-child(2) {
    background: rgba(14, 14, 14, 0.8);
}

.banner .content .buttons a:hover:nth-child(2) {
    background: red;
}

/* modal */

.modal {
    position: relative;
    width: 25%;
    height: 425px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    display: none;
    box-shadow: 10px 0px 20px rgba(10, 10, 10, 0.7);
    cursor: pointer;
    margin-bottom: -425px;
    z-index: 999;
}

.modal.open {
    display: flex;
    animation: openModal 0.7s;
}

.modal.closed {
    animation: closedModal 4s;
    display: none;
}


@keyframes openModal {
    from{
        opacity: 0;
        scale: 0;
        transform: translate3d(0, -20px, -5px);
    } 
    to{
        opacity: 1;
        scale: 1;
        transform: translate3d(0, 0, 0);
        
    }
}

@keyframes closedModal {
    from{
        opacity: 1;
        scale: 1;
        transform: translate3d(0, 0, 0);
    } 
    to{
        opacity: 0;
        scale: 0;
        transform: translate3d(0, -20px, -5px);
    }
}

.modal video {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 270px;
    cursor: pointer;
}

.modal div {
    justify-content: center;
}

.first_row {
    position: relative;
    top: 70%;
    right: 100%;
    height: 0px;
    display: flex;
}

.first_row .play {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.first_row .play:hover {
    background-color: aliceblue;
    color: black;
    border: 0;
    transition: 0.5s;
}

.first_row .play span {
    margin-top: 4px;
    font-size: 30px;
}

.first_row .play:hover > span {
    color: rgb(255, 7, 7);
    transition: 0.5s;
}

.first_row .play {
    margin: 0 5px 0 15px;
}

.first_row .favorite {
    background-color: transparent;
    color: white;
    border-radius: 100%;
    border-color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.first_row .favorite:hover {
    background-color: aliceblue;
    color: black;
    border: 0;
    transition: 0.5s;
}

.first_row .favorite span {
    margin-top: 5px;
}

.first_row .favorite:hover > span {
    color: rgb(255, 7, 7);
    border: 0;
    transition: 0.3s;
}

.first_row .info {
    position: relative;
    left: 290px;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    border-color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.first_row .info a {
    text-decoration: none;
    color: white;
}

.first_row .info:hover {
    background-color: aliceblue;
    color: black;
    border: 0;
    transition: 0.5s;
}

.first_row .play a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.first_row .play a:hover {
    background-color: aliceblue;
    color: rgb(255, 0, 0);
    border: 0;
    transition: 0.5s;
}


.first_row .info:hover > a{
    color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.first_row .info span {
    margin-top: 5px;
}

.classification {
    height: 33px;
    background-color: red;
    padding: 8px 5px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.duration {
    height: 33px;
    background-color: rgb(196, 246, 255);
    padding: 8px;
    border-radius: 6px;
    font-weight: 500;
}

.category {
    color: white;
    display: flex;
    font-size: 20px;
    height: 33px;
    width: 350px;
    padding-top: 5px;
    padding-left: 10px;
}

.category span {
    color: rgba(253, 253, 253, 0.7);
}

.info_media {
    height: 0;
    display: flex;
    position: relative;
    top: 87%;
    right: 131.5%;
}

.info_media span {
    margin-right: 7px;
}

#background {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 2180px;
    z-index: 0;
}