/* menu */

.nav__logo {
    width: 150px;
    object-fit: contain;
    margin-left: 10px;
    margin-top: 1px;
}

.nav__avatar {
    width: 30px;
    object-fit: contain;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 99999 !important;
    transition-timing-function: ease-in;
    transition: all 0.5seg;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}

.nav__black {
    background-color: #111;
}

.menu_list {
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    padding-left: 190px;
    z-index: 99999 !important;
    transition-timing-function: ease-in;
    transition: all 0.5seg;
    width: 45rem;
    line-height: 1.3;
    font-size: 0.85rem;
    max-width: 360px;
    height: 180px;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}

.menu_list li a {
    color: rgb(219, 219, 219);
    text-decoration: none;
}

.menu_list li:hover {
    text-decoration: underline;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
    left: 64vw;
    bottom: 0.2vw;
}

.search input {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    color: white;
    background: transparent;
    border: 1px solid;
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 25px;
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color: white;
    padding: 15px;

}

.search .fa-search {
    position: absolute;
    top: 27%;
    left: 47px;
    transform: translateX(-50%);
    padding-right: 50px;
    color: white;
    border-radius: 1px solid white;
}

.icon_user {
    position: relative; 
    left: 63vw;
    top: -15px;
}

.profile-picture {
    cursor: pointer;
}

.profile-picture img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3); 
    transition: 0.5s;
}

.profile-picture img:hover {
    scale: 1.1;
    transition: 0.5s;
}

/* Modal */

#modal {
    position: absolute;
    right: 18%;
    top: 2.5%;
    height: 180px;
    border-radius: 10%;
    background-color: rgba(15, 15, 15, 1);
    z-index: 999999 !important;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    cursor: pointer;
    place-items: center;
    align-items: center; /* centraliza no eixo y */
}

.title_modal {
    font-weight: bold !important;
    font-size: 20px !important; 
    position: relative;
    top: 50%;
}

#modal h5 {
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 16px;
}

#modal a button {
    border: 0;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.5);
    margin: 0;
    padding: 20px 40px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

#modal a button:hover {
    background-color: rgba(61, 59, 59, 0.5);
    cursor: pointer;
    transition: 0.5s;
}

.logout button{
    border: 0;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.5);
    margin: 0;
    padding: 10px 40px;
    cursor: pointer;
    color: white;
    border-radius: 0 0 15px 15px;
}

.logout button:hover {
    background-color: rgba(61, 59, 59, 0.5);
    cursor: pointer;
    transition: 0.5s;
}

.logout button span {
    padding: 0 31px;
}

a {
    text-decoration: none !important;
    color: white;
} 

.smart {
    position: relative; 
    left: 62.5vw;
    top: -15px;
    width: 100px;
}

.smart img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3); 
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
}

.smart img:hover {
    scale: 1.1;
    transition: 0.5s;
}

#modal {
    right: 16%;
    top: 1.2%;
}

.search_smart {
    display: none;
    position: fixed;
    top: 4vh;
    left: 28vw;
    width: 45vw;
    justify-content: center;
    align-items: center;
    z-index: 99999 !important;
    padding: 30px;
    cursor: pointer;
}

.search_smart input {
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 5vh;
    color: white;
    background: transparent;
    border: 1px solid;
    outline: none;
    border-radius: 6px;
    padding: 0 10px 0 25px;
    backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 99999 !important;
    transition: 0.2s;
    animation: fadeDown 0.5s forwards;
}

.search_smart input::placeholder {
    color: white;
    padding: 15px;

}

.search_smart .fa-search {
    position: absolute;
    top: 27%;
    left: 47px;
    transform: translateX(-50%);
    padding-right: 50px;
    color: white;
    border-radius: 1px solid white;
}

.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: 0.2s;
    animation: fadeIn 0.5s forwards;
}

#movie-results-container {
    margin-top: 5vh;
}

@keyframes fadeDown {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 1vh;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-track {
    display: flex;
    margin-left: 3.3vw;
}

.carousel-track img {
    border-radius: 30px;
    width: 25vw;
}

.carousel-slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 20px;
    height: 75vh;
    cursor: pointer;
}

.carousel-prev {
    left: 10px;
    margin-left: 30px;
    box-shadow: 12px 0px 15px rgba(0, 0, 0, 0.5);
}

.carousel-next {
    right: 10px;
    margin-right: 30px;
    box-shadow: -12px 0px 15px rgba(0, 0, 0, 0.5);
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 15px;
    height: 80vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    backdrop-filter: blur(5px);
    transition: filter 0.3s ease;    
}

/* Remover efeito blur ao passar o mouse sobre os botões */
.carousel-prev:hover,
.carousel-next:hover {
    filter: none;
}

.save_button {
    height: 50px;
    width: 65%;
    color: white;
    background-color: #e50914;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    transition: 0.5s;   
    cursor: pointer;
    backdrop-filter: blur(5px);
    transition: 0.5s;
}

.save_button:hover {
    background-color: #fc1722;
    cursor: pointer;
    transition: 0.5s;
}
