{% load static %}

<!--Rodapé-->
<footer id="myFooter">
<a href="{% static 'cadastro.html' %}"><img src="{% static 'assets/RAFLIX1.png' %}" alt="" class="logo-footer"></a>
<div class="footer-social">
    <a href="https://www.facebook.com/rafael.pinheiro.9421450/" class="social-icons"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/rafaelpinheiro_ofc/" class="social-icons"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/" class="social-icons"><i class="fa fa-youtube"></i></a>
    <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D" class="social-icons"><i class="fa fa-twitter"></i></a>
</div>
<br>
<div class="container1">
    <p class="footer-copyright">© 2022 Copyright - Rafael Pinheiro</p>
</div>
</footer>
<script src="{% static 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>