{% load static %}

<!-- Menu -->
<div class="nav" id="nav">
    <a href="{% url 'home' %}"><img src="{% static 'assets/logo.png' %}" alt="" class="nav__logo"></a>
</div>
<div>
    <ul class="menu_list">
        <li>
            <a href="{% url 'home' %}">Início</a>
        </li>
        <li>
            <a href="{% url 'movies' %}">Filmes</a>
        </li>
        <li>
            <a href="{% url 'series' %}">Séries</a>
        </li>
        <div class="search">
            <input type="text" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
    </ul>
</div>