{% load static %}

{% block head %}

{% endblock %}

<div class="loading-overlay" id="loadingOverlay">
    <div class="loading-content">
        <div class="loading-spinner"></div>
        <p>Processando o filme...</p>
    </div>
</div>

{% if messages %}
<div class="messages_movie">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    <div class="buttons">
        <a href="{% url 'home' %}" class="btn">Home</a>
        <a href="javascript:history.back()" class="btn">Voltar</a>
    </div>
</div>
<div class="background"></div>
{% endif %}

<!-- Menu -->
<div class="nav" id="nav">
    <a href="{% url 'home' %}"><img src="{% static 'assets/logo.png' %}" alt="" class="nav__logo"></a>
</div>
<div>
    <ul class="menu_list">
        <li>
            <a href="{% url 'home' %}">Início</a>
        </li>
        <li>
            <a href="{% url 'movies' %}">Filmes</a>
        </li>
        <li>
            <a href="{% url 'favorites' %}">Favoritos</a>
        </li>
        <div class="smart">
            <img src="{% static 'assets/smart.png' %}" alt="">
        </div>
        <div class="icon_user" id="icon" onclick="modalAccount(this)">
            {% for user in request.my_data %}
                <div class="profile-picture">
                    <img src="{{ user.photo.url }}" alt="{{ user.name }}">
                </div>
            {% endfor %}
        </div>
        <form id="search-form" method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="search">
              <input id="search-input" type="text" placeholder="Search" name="q">
              <i class="fas fa-search"></i>
            </div>
        </form>
    </ul>
</div>

<div id="overlay" style="display: none;"></div>

<div class="search_smart">
    <input id="search-input-smart" type="text" placeholder="Não tem no catálogo? Adicione com a Raflix Smart" name="q">
    <i class="fas fa-search"></i>
    <div id="movie-results-container">
        <form method="post" action="{% url 'smart_create_movie' %}" id="download-form" class="carousel-form">
            {% csrf_token %}
            <input type="hidden" name="page_source" value="pagina1">
            <input type="hidden" name="movie_title" id="movie-title-input">
            <div class="carousel">
                <div class="carousel-container">
                    <div class="carousel-track" id="movie-carousel">
                        <!-- Slides do carrossel de filmes serão adicionados aqui -->
                    </div>
                </div>
                <button type="button" class="carousel-prev" id="prevBtn">«</button>
                <button type="button" class="carousel-next" id="nextBtn">»</button>
            </div>        
            <button id="save-button" class="save_button" type="submit">Baixar Filme</button>
        </form>
    </div>
    <div class="background"></div>
</div>


<!-- Modal -->

<div id="modal" style="display: none" onclick="closedModalMenu()">
    <div>
        <h5 class="title_modal">Sua Conta</h5>
    </div>
    <a href="{% url 'config' %}"><button>Configurações</button></a>
    <a href="{% url 'logout' %}" class="logout">
        <button>
            <span class="material-symbols-outlined logout">
            logout
            </span>
        </button>
    </a>
</div>

<script>

    const form = document.getElementById('search-form');
    const input = document.getElementById('search-input');

    form.addEventListener('submit', (event) => {
    event.preventDefault(); // previne o envio padrão do formulário
    const query = input.value.trim(); // obtém o valor da caixa de texto, removendo espaços em branco no começo e no final
    if (query) {
        const url = form.action + '?q=' + encodeURIComponent(query); // constrói a URL de busca com a query string
        window.location.href = url; // redireciona o usuário para a página de resultados de pesquisa
    }
    });

    function modalAccount(icon){
        const modal = document.getElementById('modal')
        modal.style.cssText = "display: grid; transition: 0.5s;"
    }

    function closedModalMenu(){
        const modal = document.querySelector('#modal')
        modal.style.cssText = "display: none;"
    }

    const inputSmart = document.getElementById('search-input-smart');
    const defaultPlaceholder = "Não tem no catálogo? Adicione com a Raflix Smart";
    const newPlaceholder = "Digite o nome do filme aqui";

    inputSmart.addEventListener('click', () => {
        inputSmart.placeholder = newPlaceholder;
    });

    // Reset the placeholder when the input loses focus
    inputSmart.addEventListener('blur', () => {
        inputSmart.placeholder = defaultPlaceholder;
    });

    const smartButton = document.querySelector('.smart');
    const searchSmart = document.querySelector('.search_smart');
    const background = document.querySelector('.background');

    smartButton.addEventListener('click', () => {
        searchSmart.style.display = 'block';
        background.style.display = 'block';
    });

    background.addEventListener('click', () => {
        searchSmart.style.display = 'none';
        background.style.display = 'none';
    });

    document.addEventListener('click', (event) => {
        if (!searchSmart.contains(event.target) && !smartButton.contains(event.target)) {
            searchSmart.style.display = 'none';
            background.style.display = 'none';
        }
    });

    const movieCarousel = document.getElementById('movie-carousel');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');

    let slideIndex = 0;

    prevBtn.addEventListener('click', () => {
        slideIndex = Math.max(slideIndex - 1, 0);
        updateCarouselPosition();
    });

    nextBtn.addEventListener('click', () => {
        slideIndex = Math.min(slideIndex + 1, movieCarousel.children.length - 1);
        updateCarouselPosition();
    });

    function updateCarouselPosition() {
        const slideWidth = movieCarousel.children[0].offsetWidth;
        const translateX = -slideWidth * slideIndex;
        movieCarousel.style.transform = `translateX(${translateX}px)`;
    }

    function searchMovie(title) {
        fetch(`https://api.themoviedb.org/3/search/movie?api_key=c3ed7390e52d4dddf37320bd22ea8a64&language=pt-BR&query=${title}`)
            .then(response => response.json())
            .then(data => {
                const movieCarousel = document.getElementById('movie-carousel');
                movieCarousel.innerHTML = '';

                if (data.results.length > 0) {
                    const movieResults = data.results;

                    for (const movie of movieResults) {
                        const moviePosterPath = movie.poster_path;

                        if (moviePosterPath) {
                            const base_url = 'https://image.tmdb.org/t/p/';
                            const image_url = `${base_url}w500${moviePosterPath}`;

                            const slide = document.createElement('div');
                            slide.classList.add('carousel-slide');
                            slide.setAttribute('data-movie-title', movie.title); // Adiciona o atributo com o título do filme

                            const movieLink = document.createElement('a');
                            movieLink.href = `https://www.themoviedb.org/movie/${movie.id}`;
                            movieLink.target = '_blank';

                            const movieImage = document.createElement('img');
                            movieImage.src = image_url;
                            movieImage.alt = movie.title;

                            movieLink.appendChild(movieImage);
                            slide.appendChild(movieLink);

                            movieCarousel.appendChild(slide);
                        }
                    }

                    // Mostrar o botão de submit
                    document.getElementById('save-button').style.display = 'block';
                } else {
                    alert("Nenhum resultado encontrado para o filme informado.");
                }
            })
            .catch(error => {
                console.error("Ocorreu um erro ao buscar os metadados do filme:", error);
                alert("Ocorreu um erro ao buscar os metadados do filme.");
            });
    }

    inputSmart.addEventListener('keydown', event => {
        if (event.key === 'Enter') {
            const title = inputSmart.value;
            searchMovie(title);
        }
    });

    const saveButton = document.getElementById('save-button');
    const movieTitleInput = document.getElementById('movie-title-input');

    saveButton.addEventListener('click', (event) => {
        event.preventDefault();

        const currentSlide = movieCarousel.children[slideIndex];
        const movieImage = currentSlide.querySelector('img');
        const movieTitle = movieImage.alt;

        movieTitleInput.value = movieTitle;

        const downloadForm = document.getElementById('download-form');
        downloadForm.submit();
    });

    $(document).ready(function () {
        $('#save-button').on('click', function () {
                $('#loadingOverlay').show();
                $('#overlay').show();
        })
    });

</script>
