{% extends 'static/base.html' %}
{%  load static %}

{% block head %}

    <!-- Home -->
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <script src="{% static 'js/scripts_home.js' %}" defer></script>

{% endblock %}

{% block conteudo %}

    <div id="background" onmousemove="modalClosed()"></div>

    <!-- Header -->
    <div class="banner" onmousemove="modalClosed()" onload="banner_init(this)">
        <div class="shadow"></div>
        <video src="" width="440px" loop="true" autoplay="true" muted autoplay id="main_video" class="bg video_url" controls></video>
        <div class="content">
            <img src="" class="movieTitle">
            <h4>
                <span class="year_banner"></span>
                <span><i class="class_banner"></i></span>
                <span class="durationBanner"></span>
                <span class="categoryBanner"></span>
            </h4>
            <p class="descriptionBanner description">
            </p>

            <div class="buttons">
                <a href="#"><i class="fa fa-play" aria-hidden = "true"></i>   Play</a>
                <a href="#"><i class="fa fa-plus" aria-hidden = "true"></i>   Minha Lista</a>
            </div>
        </div>
        <div class="banner--fadeBottom"></div>
    </div>

    <h1 style="color: aliceblue;">{{ movies.get_added_in }}</h1>

    <!-- Recents Row -->

    <article class="c-carousel">
        <h1 class="title_row">Recentes</h1>
        <div class="c-carousel__slides js-carousel--responsive">
            {% for movie in movies %}
            <a href="{% url 'movies' %}"><div name="{{ movie.slug }}" class="c-carousel__slide" onmouseenter="modalDisplayRecent(this)"><img src="{{ movie.poster.url }}"></div></a>
            {% endfor %}
        </div>
        <button aria-label="Previous" class="js-carousel--responsive-prev button-carousel__left">«</button>
        <button aria-label="Next" class="js-carousel--responsive-next button-carousel__rigth">»</button>
        <div class="js-carousel--responsive-dots dots-carousel" role="tablist"></div>
    </article>

    <!-- Category Row -->

    <article class="c-carousel">
        <h1 class="title_row">Marvel</h1>
        <div class="c-carousel__slides js-carousel--responsive-category">
            {% for movie in movies %}
            {% if movie.getCategory|first == 'Marvel' %}
            <a href="{% url 'movies' %}"><div name="{{ movie.slug }}" class="c-carousel__slide" onmouseenter="modalDisplay(this)"><img src="{{ movie.poster.url }}"></div></a>
            {% endif %}
            {% endfor %}
        </div>
        <button aria-label="Previous" class="js-carousel--responsive-category-prev button-carousel__left">«</button>
        <button aria-label="Next" class="js-carousel--responsive-category-next button-carousel__rigth">»</button>
        <div class="js-carousel--responsive-category-dots dots-carousel" role="tablist"></div>
    </article>

    <!-- Modal -->

    {% for movie in movies %}
    <div id="modal_{{ movie.slug }}" class="modal" onmouseenter="modalPlay(this)" onmouseleave="modalHidden(this); modalStop(this)">
        <video loop="true" controls muted controls class="video_trailer">
            <source src="{{ movie.media.url }}" type="video/mp4"> 
        </video>
        <div class="first_row">
            <button class="play">
                <a href="play/{{ movie.slug }}"><span class="material-symbols-outlined">
                    play_arrow
                </span></a>
            </button>
            <button class="favorite">
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </button>
            <button class="info">
                <a href="{{ movie.slug }}"><span class="material-symbols-outlined">
                    expand_more
                </span></a>
            </button>
        </div>
        <div class="info_media">
            <span class="classification">+{{ movie.getClassification }}</span>
            <span class="duration">{{ movie.getDuration }}h</span>
            <span class="category">
                <span class="material-symbols-outlined">
                    movie
                </span>
                {% for genre in movie.getCategory %}

                {{ genre }}

                {% endfor %}
            </span>
        </div>
    </div>
    {%  endfor %}

    <!-- info banner -->
    {% for movie in movies %}
    {% if movie.getCategory|last == 'Lançamento' %}

    <div class="trailer_banner" hidden>{{ movie.trailer.url }}</div>
    <div class="title_banner" hidden>{{ movie.title_img.url }}</div>
    <div class="year_banner" hidden>{{ movie.release_year }}</div>
    <div class="classification_banner" hidden>{{ movie.getClassification }}</div>
    <div class="duration_banner" hidden>{{ movie.getDuration }}</div>
    <div class="category_banner" hidden>
        {% for genre in movie.getCategory %}

        {{ genre }}

        {% endfor %}
    </div>
    <div class="description_banner" hidden>{{ movie.getDescription }}</div>

    {% endif %}
    {% endfor %}


    <script>

        function modalDisplay(movie){
            var position = $(movie).offset();
            var x = position.left - 140
            var y = position.top - 1105
            const name_modal = $(movie).attr('name');
            const modal = $('#modal_'+name_modal);
            const all_modal = $('.modal');
            const movie_data = movie.parentElement
            setTimeout(function(){
                all_modal.removeClass('open')
                modal.removeClass('closed')
                modal.addClass('open')
                modal.css('left', x);
                modal.css('bottom', y+75);
            }, 500);
            if(movie_data.classList.contains('left-4')){
                console.log('teste')
                setTimeout(function(){
                all_modal.removeClass('open')
                modal.removeClass('closed')
                modal.addClass('open')
                modal.css('left', x+135);
                modal.css('bottom', y+75);
                }, 1000);
            }
            else if(movie_data.classList.contains('right-4')){
                console.log('teste2')
                setTimeout(function(){
                all_modal.removeClass('open')
                modal.removeClass('closed')
                modal.addClass('open')
                modal.css('left', x-135);
                modal.css('bottom', y+75);
                }, 1000);
            }
        }

        function modalDisplayRecent(movie){
            var position = $(movie).offset();
            var x = position.left - 140
            var y = position.top - 250
            const name_modal = $(movie).attr('name');
            const modal = $('#modal_'+name_modal);
            const all_modal = $('.modal');
            const movie_data = movie.parentElement
            setTimeout(function(){
                all_modal.removeClass('open')
                modal.removeClass('closed')
                modal.addClass('open')
                modal.css('left', x);
                modal.css('bottom', y+75);
            }, 1000);
            if(movie_data.classList.contains('left-4')){
                setTimeout(function(){
                all_modal.removeClass('open')
                modal.removeClass('closed')
                modal.addClass('open')
                modal.css('left', x+135);
                modal.css('bottom', y+75);
                }, 1000);
            }
            else if(movie_data.classList.contains('right-4')){
                setTimeout(function(){
                all_modal.removeClass('open')
                modal.removeClass('closed')
                modal.addClass('open')
                modal.css('left', x-135);
                modal.css('bottom', y+75);
                }, 1000);
            }
        }

        function modalPlay(movie){
            const name_modal = movie.id;
            const modal = document.querySelector('#'+name_modal);
            const video = modal.querySelector('video')
            video.play()
        }

        function modalStop(movie){
            const name_modal = movie.id;
            setTimeout(function(){
                const modal = document.querySelector('#'+name_modal);
                const video = modal.querySelector('video')
                video.pause()
                video.currentTime = 0;
            }, 300);
        }

        function modalHidden(modal){
            var id_modal = $(modal).attr('id');
            var modal = $('#'+id_modal);
            setTimeout(function(){
                if(!modal.is(':hover')){
                    modal.removeClass('open')
                    modal.addClass('closed')
                }
            }, 300);
        }

        function modalClosed(){
            const all_modal = $('.modal');
            all_modal.removeClass('open')
        }

        const banner = document.querySelectorAll('.banner')
        const trailer = document.querySelectorAll('.trailer_banner')
        const title = document.querySelectorAll('.title_banner')
        const year = document.querySelectorAll('.year_banner')
        const classification = document.querySelectorAll('.classification_banner')
        const duration = document.querySelectorAll('.duration_banner')
        const category = document.querySelectorAll('.category_banner')
        const description = document.querySelectorAll('.description_banner')
        const videoBanner = banner[0].querySelectorAll('.video_url')
        const titleBanner = banner[0].querySelectorAll('.movieTitle')
        const yearBanner = banner[0].querySelectorAll('.year_banner')
        const classificationBanner = banner[0].querySelectorAll('.class_banner')
        const durationBanner = banner[0].querySelectorAll('.durationBanner')
        const categoryBanner = banner[0].querySelectorAll('.categoryBanner')
        const descriptionBanner = banner[0].querySelectorAll('.descriptionBanner')
        
        var index = 0

        if(index == 0){
            videoBanner[0].setAttribute('src', trailer[index].innerText)
            titleBanner[0].setAttribute('src', title[index].innerText)
            yearBanner[0].textContent = year[index].innerText
            classificationBanner[0].innerHTML = classification[index].innerText + "+"
            durationBanner[0].textContent = duration[index].innerText + "H"
            categoryBanner[0].textContent = category[index].innerText
            descriptionBanner[0].textContent = description[index].innerText
            index += 1
        }

        setInterval(function(){
            if(index == 0){
                videoBanner[0].setAttribute('src', trailer[index].innerText)
                titleBanner[0].setAttribute('src', title[index].innerText)
                yearBanner[0].textContent = year[index].innerText
                classificationBanner[0].innerHTML = classification[index].innerText + "+"
                durationBanner[0].textContent = duration[index].innerText + "H"
                categoryBanner[0].textContent = category[index].innerText
                descriptionBanner[0].textContent = description[index].innerText
                index += 1
            }
            else if(index == 1){
                videoBanner[0].setAttribute('src', trailer[index].innerText)
                titleBanner[0].setAttribute('src', title[index].innerText)
                yearBanner[0].textContent = year[index].innerText
                classificationBanner[0].innerHTML = classification[index].innerText + "+"
                durationBanner[0].textContent = duration[index].innerText + "H"
                categoryBanner[0].textContent = category[index].innerText
                descriptionBanner[0].textContent = description[index].innerText
                index += 1
            }
            else if(index == 2){
                videoBanner[0].setAttribute('src', trailer[index].innerText)
                titleBanner[0].setAttribute('src', title[index].innerText)
                yearBanner[0].textContent = year[index].innerText
                classificationBanner[0].innerHTML = classification[index].innerText + "+"
                durationBanner[0].textContent = duration[index].innerText + "H"
                categoryBanner[0].textContent = category[index].innerText
                descriptionBanner[0].textContent = description[index].innerText
                index = 0
            }
            else {
                index == 0
            }
        }, 15000)
        

    </script>

{% endblock %}