{% extends 'static/base.html' %}
{%  load static %}

{% block conteudo %}

    <!-- Header -->
    <div class="banner">
        <video width="440px" loop="true" autoplay="true" controls muted controls poster="assets/esquadrao_capa.webp" class="bg">
            <source src="{% static 'assets/trailer_banner.mp4' %}" type="video/mp4">
            <object>
              <embed src="{% static 'assets/trailer_banner.mp4' %}" type="application/x-shockwave-flash" 
              allowfullscreen="false" allowscriptaccess="always">  		
            </object>
            Formato não suportado  
          </video>
        <div class="content">
            <img src="{% static 'assets/title1.png' %}" class="movieTitle">
            <h4>
                <span>2021</span>
                <span><i>16+</i></span>
                <span>2h 12m</span>
                <span>Ação</span>
            </h4>
            <p>
                O governo envia os supervilões mais perigosos do mundo para a remota ilha de Corto Maltese, repleta de inimigos. Armados com armas de alta tecnologia, eles viajam pela selva perigosa em uma missão de busca e destruição com o Coronel Rick Flag.
            </p>

            <div class="buttons">
                <a href="#"><i class="fa fa-play" aria-hidden = "true"></i>   Play</a>
                <a href="#"><i class="fa fa-plus" aria-hidden = "true"></i>   Minha Lista</a>
            </div>
        </div>
        <div class="banner--fadeBottom"></div>
    </div>

    <h1 style="color: aliceblue;">{{ movies.get_added_in }}</h1>

    <!-- Recents Row -->

    <article class="c-carousel">
        <h1 class="title_row">Recentes</h1>
        <div class="c-carousel__slides js-carousel--responsive">
            {% for movie in movies %}
            <div name="{{ movie.slug }}" class="c-carousel__slide" onmouseenter="modalDisplayRecent(this)"><a href=""><img src="{{ movie.poster.url }}"></a></div>
            {% endfor %}
        </div>
        <button aria-label="Previous" class="js-carousel--responsive-prev button-carousel__left">«</button>
        <button aria-label="Next" class="js-carousel--responsive-next button-carousel__rigth">»</button>
        <div class="js-carousel--responsive-dots dots-carousel" role="tablist"></div>
    </article>

    <!-- Category Row -->

    <article class="c-carousel">
        <h1 class="title_row">Marvel</h1>
        <div class="c-carousel__slides js-carousel--responsive-category">
            {% for movie in movies %}
            <div name="{{ movie.slug }}" class="c-carousel__slide" onmouseenter="modalDisplay(this)"><a href=""><img src="{{ movie.poster.url }}"></a></div>
            {% endfor %}
        </div>
        <button aria-label="Previous" class="js-carousel--responsive-category-prev button-carousel__left">«</button>
        <button aria-label="Next" class="js-carousel--responsive-category-next button-carousel__rigth">»</button>
        <div class="js-carousel--responsive-category-dots dots-carousel" role="tablist"></div>
    </article>

    <!-- Modal -->

    {% for movie in movies %}
    <div id="modal_{{ movie.slug }}" class="modal" onmouseenter="modalPlay(this)" onmouseleave="modalHidden(this); modalStop(this)">
        <video loop="true" controls muted controls class="video_trailer">
            <source src="{{ movie.media.url }}" type="video/mp4"> 
        </video>
        <div class="first_row">
            <button class="play">
                <span class="material-symbols-outlined">
                    play_arrow
                </span>
            </button>
            <button class="favorite">
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </button>
            <button class="info">
                <span class="material-symbols-outlined">
                    expand_more
                </span>
            </button>
        </div>
        <div class="info_media">
            <span class="classification">+{{ movie.getClassification }}</span>
            <span class="duration">{{ movie.getDuration }}h</span>
            {% for genre in movie.getCategory %}
            <span class="category">
                <span class="material-symbols-outlined">
                    movie
                </span>
                {{ genre }}
            </span>
            {% endfor %}
        </div>
    </div>
    {%  endfor %}

    <script>

        function modalDisplay(movie){
            var position = $(movie).offset();
            var x = position.left - 140
            var y = position.top - 1105
            const name_modal = $(movie).attr('name');
            const modal = $('#modal_'+name_modal);
            setTimeout(function(){
                modal.removeClass('closed')
                modal.addClass('open')
                modal.css('left', x);
                modal.css('bottom', y);
            }, 300);
        }

        function modalDisplayRecent(movie){
            var position = $(movie).offset();
            var x = position.left - 140
            var y = position.top - 250
            const name_modal = $(movie).attr('name');
            const modal = $('#modal_'+name_modal);
            setTimeout(function(){
                modal.removeClass('closed')
                modal.addClass('open')
                modal.css('left', x);
                modal.css('bottom', y);
            }, 300);
        }

        function modalPlay(movie){
            const name_modal = movie.id;
            const modal = document.querySelector('#'+name_modal);
            const video = modal.querySelector('video')
            video.play()
        }

        function modalStop(movie){
            const name_modal = movie.id;
            setTimeout(function(){
                const modal = document.querySelector('#'+name_modal);
                const video = modal.querySelector('video')
                video.pause()
                video.currentTime = 0;
            }, 300);
        }

        function modalHidden(modal){
            var id_modal = $(modal).attr('id');
            var modal = $('#'+id_modal);
            setTimeout(function(){
                if(!modal.is(':hover')){
                    modal.removeClass('open')
                    modal.addClass('closed')
                }
            }, 300);
        }

    </script>

{% endblock %}